[submodule "leveldb"]
	path = leveldb
	url = https://github.com/REI-Network/leveldb
[submodule "napi-macros"]
	path = napi-macros
	url = https://github.com/hyperdivision/napi-macros.git
[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy.git
[submodule "evmone"]
	path = evmone
	url = https://github.com/ethereum/evmone
